{% load static %}
{% if user.role.id == 2 %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="{% url 'ad_profile' %}" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="{{ user.profilePicture.url }}" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
          <span class="font-weight-semibold mb-1 mt-2 text-center">{{ user.firstName}} {{ user.lastName}}</span>
          <span class="text-secondary icon-sm text-center">{{ user.role }}</span>
        </div>
      </a>
    </li>
    <li class="pt-2 pb-1">
      <span class="nav-item-head">Navigation</span>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  href="{% url 'ad_home_page' %}" >
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Home Page </span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'ad_manage_accounts' %}" >
        <i class="mdi mdi-account-multiple menu-icon"></i>
        <span class="menu-title">Manage Accounts</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'ad_manage_reports' %}">
        <i class="mdi mdi-message-text-outline menu-icon"></i>
        <span class="menu-title">Manage Reports</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'ad_report_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Reports Archive</span>
      </a>
    </li>


 
  </ul>
</nav>

{% elif user.role.id == 1 %}


<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="{% url 'dr_profile'  %}" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="{{ user.profilePicture.url }}" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
          <span class="font-weight-semibold mb-1 mt-2 text-center">{{ user.firstName}} {{ user.lastName}}</span>
          <span class="text-secondary icon-sm text-center">{{ user.role }}</span>
        </div>
      </a>
    </li>
    <li class="pt-2 pb-1">
      <span class="nav-item-head">Navigation</span>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  href="{% url 'dr_home_page' %}" >
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Home Page </span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'dr_manage_projects' %}" >
        <i class="mdi mdi-projector-screen menu-icon"></i>
        <span class="menu-title">Manage Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'dr_project_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Projects Archive</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'dr_manage_reports' %}">
        <i class="mdi mdi-message-text-outline menu-icon"></i>
        <span class="menu-title">Manage Reports</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'dr_report_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Reports Archive</span>
      </a>
    </li>

  
  </ul>
</nav>

{% elif user.role.id == 3 %}


<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="{% url 'tl_profile' %}" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="{{ user.profilePicture.url }}" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
          <span class="font-weight-semibold mb-1 mt-2 text-center">{{ user.firstName}} {{ user.lastName}}</span>
          <span class="text-secondary icon-sm text-center">{{ user.role }}</span>
        </div>
      </a>
    </li>
    <li class="pt-2 pb-1">
      <span class="nav-item-head">Navigation</span>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  href="{% url 'tl_home_page' %}" >
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Home Page </span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'tl_manage_projects' %}" >
        <i class="mdi mdi-projector-screen menu-icon"></i>
        <span class="menu-title">Manage Projects</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'tl_project_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Projects Archive</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'tl_manage_reports' %}">
        <i class="mdi mdi-message-text-outline menu-icon"></i>
        <span class="menu-title">Manage Reports</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'tl_report_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Reports Archive</span>
      </a>
    </li>

  
  </ul>
</nav>

{% elif user.role.id == 4 %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="{% url 'exp_profile' %}" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="{{ user.profilePicture.url }}" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
          <span class="font-weight-semibold mb-1 mt-2 text-center">{{ user.firstName}} {{ user.lastName}}</span>
          <span class="text-secondary icon-sm text-center">{{ user.role }}</span>
        </div>
      </a>
    </li>
    <li class="pt-2 pb-1">
      <span class="nav-item-head">Navigation</span>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  href="{% url 'tl_home_page' %}" >
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Home Page </span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link"  href="{% url 'exp_manage_projects' %}" >
        <i class="mdi mdi-projector-screen menu-icon"></i>
        <span class="menu-title">Manage Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp_project_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Projects Archive</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp_manage_reports' %}">
        <i class="mdi mdi-message-text-outline menu-icon"></i>
        <span class="menu-title">Manage Reports</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp_report_archive' %}">
        <i class="mdi mdi-archive menu-icon"></i>
        <span class="menu-title">Reports Archive</span>
      </a>
    </li>

  </ul>
</nav>
{% endif %}