{% extends "base/index.html" %} 
{% load static %}
{% load crispy_forms_filters %} 





  
{% block content %}

<div class="page-inner">
  <div class="page-header"></div>
  <div class="row col-md-12">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header">
          <div class="card-title">
            Add a new Project and Assign to a Team
          </div>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <!-- {% for field in registrationForm %}

            {{ field.label_tag }}
            {{ field }}

            {% if field.help_text %}

                {{ field.help_text }}
            {% endif %}

            {% for error in field.errors %}
                  {{  field.error  }}
            {% endfor %}

          {% endfor %} -->

            {{form|crispy}}
            <!-- {% crispy form %} -->

            <input
              type="submit"
              class="mr-auto btn btn-outline-success"
              name="submit"
              value="Assign Project"
            />
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="col grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Current Projects</h4>
            </p>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Dead Line</th>
                    <th>Assigned Team</th>
                  </tr>
                </thead>
                <tbody>
                  {% for list in lists %}
                  <tr>
                    <td>{{ list.projectTitle }}</td>
                    <td>{{ list.deadLine }}</td>
                
                    <td>
                     {{ list.assignedTeam }}
                    </td>

                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>







  </div>
</div>
{% endblock content %}
