{% extends "base/index.html" %} 
{% load static %}
{% load crispy_forms_filters %} 





  
{% block content %}

<div class="page-inner ">
  <div class="page-header col-12">

  </div>
  <div class="row">
    <div class="col">
    <div class="col">
      <div class="col grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Current Reports</h4>
            </p>
            <div class="table-responsive">
              <table class="table table-hover" id="example">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Assistant Director</th>
                    <th>Experts</th>
                  </tr>
                </thead>
                <tbody>
                  {% for list in lists %}
                  <tr>
                    <td>  <a href="{% url 'tl_report_detail' list.id %}">{{ list.reportTitle }}</a> </td>
                    {% if list.deadLine > date %}
                    <td>{{ list.deadLine }}</td>
                    {% else %}
                    <td>
                      <label class="badge badge-danger">Late</label>
                    </td>
                    {% endif %}                
                    <td>
                     <a href="{% url 'tl_report_messages' list.id  %}">Assistant Director</a>
                    </td>
                    <td>
                      <a href="">Experts</a>

                    </td>

                    <!-- {% if list.is_urgent %}
                      <td>
                    <label class="badge badge-warning ">Urgent</label>
                  </td>
                    {% else %}
                    <td>
                    <label class="badge badge-success">Not urgent</label>
                  </td>

                      {% endif %} -->
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>

  </div>
</div>
{% endblock content %}
