{% extends "base/index.html" %} 
{% load static %}
{% load crispy_forms_filters %} 





  
{% block content %}

<div class="page-inner ">
  <div class="page-header col-12">

  </div>
  <div class="row">
    <div class="col">


    <div class="col">
      <div class="col grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Current Projects</h4>
            </p>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Dead Line</th>
                    <th>Assigned Expert</th>
                    <th>Urgency</th>
                  </tr>
                </thead>
                <tbody>
                  {% for list in lists %}
                  <tr>
                    <td>{{ list.projectTitle }}</td>
                    <td>{{ list.deadLine }}</td>
                    <td>
                      {% if list.assignedExpert %}
                      <a href="{% url 'tl_project_messages' list.pk  list.assignedExpert %}">{{ list.assignedExpert }}</a>

                      {% else %}
                      <a href="{% url 'tl_assign_project' list.pk %}">{{ list.assignedExpert }}</a>

                      {% endif %}
                    </td>
            
                    {% if list.is_urgent %}
                      <td>
                    <label class="badge badge-danger">Urgent</label>
                  </td>
                    {% else %}
                    <td>
                    <label class="badge badge-success">Not urgent</label>
                  </td>

                      {% endif %}
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>

  </div>
</div>
{% endblock content %}
